/* DB Tagcloud Admin Panel */

code {
    font-size: 1em;
}

.db-tgcl-admin h1 {
    font-size: 3em;
}

.db-tgcl-admin h2 {
    font-size: 2em;
    margin-top: 2em;
}

.db-tgcl-description p {
    color: #525d65;
    font-size: 1.5em;
    margin: .5em 0;
}

.db-tgcl-admin .db-tgcl-table {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(255,255,255,.75);
    width: 100%;
}

.db-tgcl-admin .db-tgcl-table tr:first-child > :first-child {
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
}

.db-tgcl-admin .db-tgcl-table tr:first-child > :last-child {
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
}

.db-tgcl-admin .db-tgcl-table tr:last-child > :first-child {
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
}

.db-tgcl-admin .db-tgcl-table tr:last-child > :last-child {
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
}

.db-tgcl-admin .db-tgcl-table th,
.db-tgcl-admin .db-tgcl-table td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 30px;
}

.db-tgcl-admin .db-tgcl-table tr > :not(.db-tgcl-after-rowspan):nth-child(1) {
    border-left: 0;
}

.db-tgcl-admin .db-tgcl-table tr:last-child th,
.db-tgcl-admin .db-tgcl-table tr:last-child td {
    border-bottom: 0;
}

.db-tgcl-field-description {
    font-size: .9em;
    font-style: italic;
    font-weight: 400;
}

.db-center {
    text-align: center;
}

.db-highlighted {
    background: yellow;
}

.db-roundborder {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.db-hidden {
    display: none;
}

#db_tgcl_preview {
    min-width: 700px;
    text-align: center;
    vertical-align: middle;
}

#db_tgcl_preview .db-tagcloud li {
    padding: 0;
}

#db_tgcl_preview .db-tagcloud li a {
    text-decoration: none;
}

#db_tgcl_shortcode {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .75);
    color: #135e96;
    font-size: 1.5em;
    margin: .5em auto;
    padding: 25px 50px;
    text-align: center;
    width: 300px;
}

#db_tgcl_woo_attr_table {
    font-size: 1.3em;
    margin: 30px auto 10px;
    max-width: 700px;
    text-align: center;
}